@charset "UTF-8";

/*
---------------------
　　　共通
---------------------
*/

main .container {
    padding-top: 80px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}

/*
---------------------
　　　Table: カレンダー
---------------------
*/

.calendar {
    table-layout: fixed;
}

.calendar th {
    text-align: center;
    vertical-align: middle;
}

.calendar .head-cal {
    border: none;
}

.calendar .head-cal th  {
    height: 80px;
    border: none;
}

.calendar .head-week th {
    height: 30px;
}

.calendar tbody td {
    height: 120px;
}

.calendar tbody td {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
}

.calendar .today {
    background-color: #eeef;
}

.badges {
    height: 80px;
    overflow: scroll;
}

.badges badge {
    display: flex;
    text-align: left;
    margin-top: 2px;
}


