@charset "UTF-8";

/*
---------------------------
    共通
---------------------------
*/
main .container {
    padding-top: 80px;
    padding-bottom: 40px;
}

h4 {
    padding-top: 20px;
    padding-bottom: 40px;
}

@media (max-width: 767.98px) {
    main > .container {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    h4 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

a {
    text-decoration: none;
}

/*
---------------------------
    Table: カレンダー
---------------------------
*/

.calendar {
    table-layout: fixed;
}

.calendar th {
    text-align: center;
    vertical-align: middle;
}

.calendar .head-cal {
    border: none;
}

.calendar .head-cal th {
    height: 80px;
    border: none;
}

.calendar .head-week th {
    height: 30px;
}

.calendar tbody td {
    height: 120px;
}

.calendar tbody td a {
    display: block;
    height: 100%;
    width: 100%;
    color: #000000;
}

.calendar .today {
    background-color: #eeeef1;
}

.badges {
    height: 80px;
    overflow: scroll;
}

.badges .badge {
    display: flex;
    text-align: left;
    margin-top: 2px;
}

.badges .bg-light {
    color: #343a40;
}

/*
---------------------------
    DateTimePicker
---------------------------
*/

.dp-parent {
    position: relative;
}

/*
---------------------------
    追加・編集
---------------------------
*/

.form-select.bg-primary,
.form-select.bg-secondary,
.form-select.bg-success,
.form-select.bg-danger,
.form-select.bg-dark {
    color: #ffffff;
}
